{% extends './base.html' %}
{% block title %}
Home
{% endblock %}

{% block body %}

<div class="container">
    <h2 id="id1">{{ value }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="Greet"><b>Greeting</b></label>
                <input type="text" class="form-control" name="Greet" id="Greet" placeholder="Hello" required />
                <button class="btn btn-primary" type="submit" name="action">Submit form</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}